.product-list {
  background-color: #1a1a1a;
  color: #fff;
}

.product {
  background-color: #222;
  padding: 20px;
  margin-bottom: 20px;
}

.product-name {
  font-size: 20px;
}

.product-image {
  width: 200px;
  height: 200px;
}

.price {
  font-size: 18px;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}

.add-to-cart-button {
  background-color: #ffcc00;
  color: #222;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.rating {
  margin-top: 10px;
}

.star {
  font-size: 24px;
  cursor: pointer;
}

.star.filled {
  color: #ffcc00;
}

.star.empty {
  color: #ccc;
}

.add {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.add form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add label {
  margin-bottom: 10px;
  color: #fff;
}

.add input {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #555;
  color: #fff;
  border: none;
}

.add button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
/* App.css */

/* Dark theme styles */
.updating {
  background-color: #333;
  color: #fff;
}

.updating nav a {
  color: #fff;
}

.updating form {
  color: #fff;
}

.updating label {
  color: #fff;
}

.updating input {
  background-color: #555;
  color: #fff;
}

.updating button {
  background-color: #555;
  color: #fff;
}

  
.naving{
  font-size: 100px;
  background-color: #333;
}
*{
  margin: 10px;
}
.subscribe-form{
  width: 100%;
}
.product_link{
  text-decoration: none;
}